@import "tailwindcss";

@theme {
  --color-brand: #00a6f4;
  --color-shadow-primary: #b8e6fe;
}

@font-face {
  font-family: ShabnamFarsi;
  src: url("../public/Shabnam-FD.ttf") format("ttf");
}

.container {
  @apply mx-auto!;
}

body {
  direction: rtl !important;
  font-family: ShabnamFarsi !important;
}

input::placeholder,
textarea::placeholder {
  color: #9ca3af !important;
}

.ant-tabs-nav-list {
  @apply w-full flex items-start gap-4;
}
